= form_for [@portfolio, @project] do |f|
  .form-project
    .field
      = f.label :title
      %br
      = f.text_field :title
    .field
      = f.label :link
      %br
      = f.text_field :link
    .field
      = f.label :role
      %br
      = f.text_field :role
    .field
      = f.label :image
      %br
      = f.file_field :image, class: 'form-project-image'
    - if @project.persisted?
      - if @project.image.url
        .field.project-preview
          %img{ src: "#{@project.image.url}" }
      - else
        .field.project-preview
          %h5 You have not uploaded an image for this project yet
    .field
      = f.label :description
      %br
      = f.text_area :description, class: 'form-project-description'
    .field.tech-used
      = f.label :tech
      %br
      = f.text_area :tech, class: 'form-project-tech'
    .display_order
      = f.label :display_order
      = f.text_field :order, class: 'display-order-input'
    .actions
      - if @project.persisted?
        = link_to 'Cancel', portfolio_projects_path(@portfolio), class: 'cancel-button'
        = link_to 'Delete', portfolio_project_path(@portfolio, @project), class: 'delete-button', method: :delete, data: { confirm: 'Are you sure that you would like to delete this Application?' }
      = f.submit "#{@project.persisted? ? 'Update' : 'Create'}", class: 'update-button'
