= form_for Project.new do |f|

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :link
    = f.text_field :link
  .field
    = f.label :descrption
    = f.text_area :descrption
  .field
    = f.label :image
    = f.file_field :image
  .field
    = f.label :tech
    = f.text_area :tech
  .field
    = f.label :role
    = f.text_field :role
  .actions
    = f.submit 'Save'
