.dashboard-container
  .dev-portal-logo
    %p My Dev Portal
  .header
    .main-header
    .current-user-header
      %p
        = current_user.email
    .settings
  .sidebar
    .current-user-sidebar
      .sidebar-gravatar
        = image_tag current_user.gravatar_url
      .sidebar-name
        %p User Name
    .sidebar-menu
      .menu-item{ class: params[:menu_action] ? 'not-active' : 'active' }
        = link_to 'Home', '/dashboard/index'
      .menu-item{ class: params[:menu_action] == 'change_portfolio_url' ? 'active' : 'not-active' }
        = link_to 'Change URL', '/dashboard/index/change_portfolio_url'
      .menu-item
        menue item 2
      .menu-item
        menue item 3
      .menu-item
        menue item 4
  .main-content
    = render partial: @current_dashboard_action
