= stylesheet_link_tag 'application-dashboard', media: 'all', 'data-turbolinks-track' => true
.dashboard-container
  .dev-portal-logo
    %p My Dev Portal
  .header
    .main-header
    .dropdown
      %a.btn.dropdown-toggle{ id: "dropdownMenuButton", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'area-exapend' => "false" }
        = current_user.email
        .dropdown-menu{'aria-labelledby' => 'dropdownMenuLink'}
          = link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
  .sidebar
    .current-user-sidebar
      .sidebar-gravatar
        = image_tag current_user.gravatar_url
      .sidebar-name
        %p
          = current_user.portfolios.first.url
    .sidebar-menu
      .menu-item{ class: params[:menu_action] ? 'not-active' : 'active' }
        = link_to 'Home', dashboard_index_path
    .sidebar-heading
      %p Portfolio
    .sidebar-menu
      .menu-item{ class: params[:menu_action] == 'portfolio_config' ? 'active' : 'not-active' }
        = link_to 'Portfolio Settings', dashboard_index_path(menu_action: 'portfolio_config')
      .menu-item{ class: params[:menu_action] == 'about' ? 'active' : 'not-active' }
        = link_to 'About Me', dashboard_index_path(menu_action: 'about')
      .menu-item{ class: params[:menu_action] == 'projects_view' ? 'active' : 'not-active' }
        = link_to 'Projects', dashboard_index_path(menu_action: 'projects_view')
      .menu-item{ class: params[:menu_action] == 'technologies' ? 'active' : 'not-active' }
        = link_to 'Technologies', dashboard_index_path(menu_action: 'technologies')
      .menu-item{ class: params[:menu_action] == 'portfolio_header' ? 'active' : 'not-active' }
        = link_to 'Portfolio Header', dashboard_index_path(menu_action: 'portfolio_header')
    .sidebar-heading
      %p Job Tracking
    .sidebar-menu
      .menu-item
        item one
      .menu-item
        item two
      .menu-item
        item three
  .main-content
    - if flash[:alert]
      .alert.alert-warning.alert-dismissible.fade.show{ role: 'alert' }
        = alert
        %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-label' => 'close' }
          %span{ 'aria-hidden' => 'true' }
            &times;
    = render partial: "dashboard/#{@current_dashboard_action}"
