.dashboard-container
  .dev-portal-logo
    %p My Dev Portal
  .header
    .main-header
    .dropdown
      %a.btn.dropdown-toggle{ id: "dropdownMenuButton", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'area-exapend' => "false" }
        = current_user.email
        .dropdown-menu{'aria-labelledby' => 'dropdownMenuLink'}
          = link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
  .sidebar
    .current-user-sidebar
      .sidebar-gravatar
        = image_tag current_user.gravatar_url
      .sidebar-name
        %p
          = current_user.portfolios.first.url
    .sidebar-menu
      .menu-item{ class: params[:menu_action] ? 'not-active' : 'active' }
        = link_to 'Home', dashboard_index_path
      .menu-item{ class: params[:menu_action] == 'change_portfolio_url' ? 'active' : 'not-active' }
        = link_to 'Change URL', dashboard_index_path(menu_action: 'change_portfolio_url')
      .menu-item{ class: params[:menu_action] == 'add_project' ? 'active' : 'not-active' }
        = link_to 'Add Project', dashboard_index_path(menu_action: 'add_project')
      .menu-item{ class: params[:menu_action] == 'view_projects' ? 'active' : 'not-active' }
        = link_to 'View Projects', dashboard_index_path(menu_action: 'view_projects')
      .menu-item
        menue item 4
  .main-content
    = render partial: "shared_forms/#{@current_dashboard_action}"
