.default{ style: "color: #{@portfolio.font_color_one}"}
  .theme-container
    .header{ style: "background-color: #{@portfolio.color_one}; background-image: #{@portfolio.show_cover_image ? "url(#{@portfolio_header.cover_image.url})" : nil}" }
      .header-avatar
        - if @portfolio.show_avatar_image
          %img.avatar-image{ src: "#{@portfolio_header.avatar_image.full.url}" }
      .header-name{ style: "color: #{@portfolio_header.header_one_color}" }
        = @portfolio_header.header_one
      .header-subheader{ style: "color: #{@portfolio_header.header_two_color}" }
        = @portfolio_header.header_two
    .portfolio{ style: "background-color: #{@portfolio.color_two}" }
      %h2 Portfolio
      = render partial: 'portfolios/themes/components/portfolio_slider'
    .technical-skill{ style: "background-color: #{@portfolio.color_one}" }
      %h2 Technical Skills
      .skills-header{ style: "border-color: #{@portfolio.font_color_two}", class: "#{@show_technology}" }
        %h5 Technology
        %h5
          = @portfolio.show_years_exp ? 'Experience' : nil
        %h5
          = @portfolio.show_proficiency ? 'Proficiency' : nil
      - @technologies.each do |technology|
        .technology{ class: "#{@show_technology}" }
          .show-name{ style: "color: #{@portfolio.font_color_two}"}
            = technology.name
          .show-years-exp{ style: "color: #{@portfolio.font_color_two}"}
            - if @portfolio.show_years_exp
              = "#{pluralize(technology.years_exp, 'year')}"
          .show-proficiency
            - if @portfolio.show_proficiency
              .progress
                .progress-bar{ role: 'progressbar',
                                          'aria-valuemin' => '0', 'aria-valuemax' => '10',
                                          style: "width: #{technology.proficiency * 10}%; background-color: #{@portfolio.color_four};" }
    .about-me{ style: "background-color: #{@portfolio.color_two}" }
      %h2 About Me
      %p.about{ style: "color: #{@portfolio.font_color_two}"}
        = @about.about_me
    .footer{ style: "background-color: #{@portfolio.color_four}" }
      .footer-heading
        %h3 Location
        %h3 Around the Web
        %h3
          = "About #{@first_name}"
      .footer-body{ style: "color: #{@portfolio.font_color_two}"}
        .location
          = @about.location
        .contact
          = @about.email
          .links{ style: "fill: #{@portfolio.font_color_two}"}
            - if @about.github.length > 0
              .github
                = link_to @about.github do
                  = image_tag 'github.svg', class: 'social-link'
            - if @about.linkedin.length > 0
              .linkedin
                = link_to @about.linkedin do
                  = image_tag 'linkedin.svg', class: 'social-link'
            - if @about.facebook.length > 0
              .facebook
                = link_to @about.facebook do
                  = image_tag 'facebook.svg', class: 'social-link'
            - if @about.twitter.length > 0
              .twitter
                = link_to @about.twitter do
                  = image_tag 'twitter.svg', class: 'social-link'
            - if @about.website.length > 0
              .website
                = link_to @about.website do
                  = image_tag 'website.svg', class: 'social-link'
        .about-mini
          = @about.about_me_brief
