= form_for [@portfolio, @about] do |f|
  .form-about
    .field
      = f.label :location
      %br
      = f.text_field :location
    .field
      = f.label :email
      %br
      = f.text_field :email
    .field
      = f.label :github
      %br
      = f.text_field :github
    .field
      = f.label :linkedin
      %br
      = f.text_field :linkedin
    .field
      = f.label :facebook
      %br
      = f.text_field :facebook
    .field
      = f.label :twitter
      %br
      = f.text_field :twitter
    .field
      = f.label :website
      %br
      = f.text_field :website
    .field
      = f.label :abbreviated_about_me
      %br
      = f.text_area :about_me_brief, class: 'about-me-brief-input'
    .field.about-me
      = f.label :about_me
      %br
      = f.text_area :about_me, class: 'about-me-input'
    .actions
      = f.submit 'Update Your "About Me"', class: 'update-button'
