.skills-header{ style: "border-color: #{@portfolio.font_color_two}", class: "#{@show_technology}" }
  %h5 Technology
  %h5
    = @portfolio.show_years_exp ? 'Experience' : nil
  %h5
    = @portfolio.show_proficiency ? 'Proficiency' : nil
- @technologies.each do |technology|
  .technology{ class: "#{@show_technology}" }
    .show-name{ style: "color: #{@portfolio.font_color_two}"}
      = technology.name
    .show-years-exp{ style: "color: #{@portfolio.font_color_two}"}
      - if @portfolio.show_years_exp
        = "#{pluralize(technology.years_exp, 'year')}"
    .show-proficiency
      - if @portfolio.show_proficiency
        .progress
          .progress-bar{ role: 'progressbar',
                                    'aria-valuemin' => '0', 'aria-valuemax' => '10',
                                    style: "width: #{technology.proficiency * 10}%; background-color: #{@portfolio.color_four};" }
