.portfolio-config-main
  = render partial: 'portfolios/forms/change_url'
  = render partial: 'portfolios/forms/change_theme'
  = render partial: 'portfolios/forms/change_colors'
  = render partial: 'portfolios/forms/change_font_colors'
  = render partial: 'portfolios/forms/change_display_image'
  = render partial: 'portfolios/forms/change_technologies'
