.default{ style: "color: #{@portfolio.font_color_one}"}
  .theme-container
    = render partial: 'front_end/portfolios/components/default_header'
    .portfolio{ style: "background-color: #{@portfolio.color_two}" }
      %h2 Portfolio
      = render partial: 'front_end/portfolios/components/portfolio_slider'
    .technical-skill{ style: "background-color: #{@portfolio.color_one}" }
      %h2 Technical Skills
      = render partial: 'front_end/portfolios/components/default_technologies'
    .about-me{ style: "background-color: #{@portfolio.color_two}" }
      %h2 About Me
      %p.about{ style: "color: #{@portfolio.font_color_two}"}
        = @about.about_me
    = render partial: 'front_end/portfolios/components/default_footer'
