-# .job-application-container
-#   %h1 Your Job Applications
-#   = link_to 'New Job application', new_user_job_application_path(current_user)
-#   .table-heading
-#     %h4 Options
-#     %h4 First contact date
-#     %h4 Company name
-#     %h4 Company website
-#     %h4 Job location
-#     %h4 Enthusiasm
-#     %h4 Job title
-#     %h4 Job link
-#     %h4 Referral
-#     %h4 Referral type
-#     %h4 Status
-#     %h4 Industry
-#   .table-body
-#     - @job_applications.each_with_index do |job_application, index|
-#       .table-entry{ class: index.even? ? 'even' : 'odd' }
-#         .table-item-options
-#           = link_to user_job_application_path(current_user, job_application) do
-#             .job-application-icon.view
-#           = link_to edit_user_job_application_path(current_user, job_application) do
-#             .job-application-icon.edit
-#           = link_to user_job_application_path(current_user, job_application), method: :delete do
-#             .job-application-icon.delete
-#         .table-item= job_application.first_contact_date
-#         .table-item= job_application.company_name
-#         .table-item= job_application.company_website
-#         .table-item= job_application.job_location
-#         .table-item= job_application.enthusiasm
-#         .table-item= job_application.job_title
-#         .table-item= job_application.job_link
-#         .table-item= job_application.referral
-#         .table-item= job_application.referral_type
-#         .table-item= job_application.status
-#         .table-item= job_application.industry

.job-application-container
  .table-container
    %table{ id: 'job-applications' }
      %tr.table-heading
        %th Options
        %th First contact date
        %th Company name
        %th Company website
        %th Job location
        %th Enthusiasm
        %th Job title
        %th Job link
        %th Referral
        %th Referral type
        %th Status
        %th Industry
      - @job_applications.each do |job_application|
        %tr
          %td
            .table-item-options
              = link_to user_job_application_path(current_user, job_application) do
                .job-application-icon.view{ `data-toggle` => 'tooltip', 'data-placement' => 'right', title: 'View Application'}
              = link_to edit_user_job_application_path(current_user, job_application) do
                .job-application-icon.edit{ `data-toggle` => 'tooltip', 'data-placement' => 'right', title: 'Edit Application'}
              = link_to user_job_application_path(current_user, job_application), method: :delete do
                .job-application-icon.delete{ `data-toggle` => 'tooltip', 'data-placement' => 'right', title: 'Delete Application'}
          %td= job_application.first_contact_date
          %td= job_application.company_name
          %td= job_application.company_website
          %td= job_application.job_location
          %td= job_application.enthusiasm
          %td= job_application.job_title
          %td= job_application.job_link
          %td= job_application.referral
          %td= job_application.referral_type
          %td= job_application.status
          %td= job_application.industry
