.technologies-show-main-container
  %table.table.table-striped.table-dark
    %thead
      %tr.table-heading
        %th{ scope: 'col' } Options
        %th{ scope: 'col' } Technology
        %th{ scope: 'col' } Years Exp
        %th{ scope: 'col' } Proficiency
      %tbody
        - @technologies.each do |technology|
          %tr
            %th{ scope: 'row' }
              .table-item-options
                = link_to edit_portfolio_technology_path(@portfolio, technology.id) do
                  .technology-edit-icon{ 'data-placement' => 'right', title: 'Edit Technology' }
                = link_to portfolio_technology_path(@portfolio.id, technology.id), method: :delete do
                  .technology-delete-icon{ 'data-placement' => 'right', title: 'Remove Technology' }
              %td= technology.name
              %td= technology.years_exp
              %td
                .show-proficiency
                  .progress
                    .progress-bar.bg-warning{ role: 'progressbar',
                                              'aria-valuemin' => '0', 'aria-valuemax' => '10',
                                              style: "width: #{technology.proficiency * 10}%" }
