.portfolio-config-main
  = render partial: 'change_url'
  = render partial: 'change_theme'
  = render partial: 'change_colors'
  = render partial: 'change_font_colors'
  = render partial: 'change_display_image'
  = render partial: 'change_technologies'
