.project-mini-display-container
  %p
    %b Title:
    %br
    = project.title
  %p
    - if project.image.thumb.url
      = image_tag project.image.thumb.url
  %p
    %b Descrption:
    = "#{project.description[0..95]} ..."
  %p
    %b Role:
    %br
    = project.role
  %p
    %b Tech:
    = project.tech
  %p
    = link_to project.link, project.link, class: 'project-mini-link'
  %p
    = link_to 'Edit', edit_portfolio_project_path(@portfolio, project.id), class: 'edit-button'
    = link_to 'Delete', portfolio_project_path(@portfolio.id, project.id), class: 'delete-button', method: :delete, data: { confirm: 'Are you sure that you would like to delete this project?' }
