%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Link:
  = @project.link
%p
  %b Descrption:
  = @project.descrption
%p
  %b Image:
  = image_tag @project.image.thumb.url
%p
  %b Tech:
  = @project.tech
%p
  %b Role:
  = @project.role

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
