.home-container
  = render partial: 'recent_job_applications', locals: { job_applications: @job_applications }
  .welcome-box
    .go-to-portfolio
      = link_to 'View Your Portfolio', "/#{@portfolio.url}"
    - if @new_user
      .new-user-box-container
        %h2 Welcome to Your Dev Portal!
        .new-user-box
          %p Use the sidebar to navigate to the various components of your portfolio.  You can then change settings, upload photos, and add information.
          %p
            %b Finish filling out your portoflio.  Check the list below to see what still needs to be done!
          - unless @about.about_me
            %p
              Be sure to fill out your 'About Me'
              = link_to 'HERE', portfolio_abouts_path(@portfolio)
          - unless @projects.count > 0
            %p
              Add projects to your portfolio
              = link_to 'HERE', portfolio_projects_path(@portfolio)
          - unless @technologies.count > 0
            %p
              Add skills and technology that you know
              = link_to 'HERE', portfolio_technologies_path(@portfolio)
          - unless @portfolio_header.header_one
            %p
              Create your Portfolio Header
              = link_to 'HERE', portfolio_portfolio_headers_path(@portfolio)
