.change-url-form-container.config-container
  %h4 Change Portfolio URL
  %p
    Your current portfolio URL is
    %b
      = "mydevportal.io/#{current_user.portfolios.first.url}"
  = form_for current_user.portfolios.first do |f|
    .form-portfolio-url
      .field
        = f.label :url, 'Portfolio URL'
        = f.text_field :url, class: 'input-portfolio-url'
      .actions
        = submit_tag 'Update'
