%link{ rel: 'stylesheet', href: '/assets/add_projects' }

.main-project
  .form-container-project
    = form_for Project.new do |f|
      .form-project
        .field
          = f.label :title
          %br
          = f.text_field :title
        .field
          = f.label :link
          %br
          = f.text_field :link
        .field
          = f.label :role
          %br
          = f.text_field :role
        .field
          = f.label :image
          %br
          = f.file_field :image, class: 'form-project-image'
        .field
          = f.label :descrption
          %br
          = f.text_area :descrption, class: 'form-project-description'
        .field
          = f.label :tech
          %br
          = f.text_area :tech, class: 'form-project-tech'
        .actions
          = f.submit 'Add New Project', class: 'btn'
