-# Inline script required to load minicolors() without refresh
:javascript
  $('.color-picker').minicolors()
.portfolio-header-main
  .portfolio-header-form
    %h4 Edit Your Portfolio Header
    = form_for [@portfolio, @portfolio_header] do |f|
      .form-portfolio-header
        .field
          = f.label :your_name
          %br
          = f.text_field :header_one
        .field
          = f.label :name_font_color
          %br
          = f.text_field :header_one_color, as: :minicolors, class: 'color-picker'
        .field
          = f.label :subheading
          %br
          = f.text_field :header_two
        .field
          = f.label :subheading_font_color
          %br
          = f.text_field :header_two_color, as: :minicolors, class: 'color-picker'
        .field.upload-image
          = f.label :cover_image
          %small Prefered resolution 1290x800 (12:5 aspect ratio)
          %br
          = f.file_field :cover_image, class: 'form-project-image'
        .field.upload-image
          = f.label :avatar_image
          %small Prefered resolution 225x300 (3:4 aspect ratio)
          %br
          = f.file_field :avatar_image, class: 'form-project-image'
        .actions
          = f.submit 'Update Your Portfolio Header'
  %h3 Preview
  .portfolio-header-preview{ style: "background-image: url(#{@portfolio_header.cover_image.preview.url})" }
    .preview-avatar
      %img.preview-avatar-image{ src: "#{@portfolio_header.avatar_image.preview.url}"}
    .preview-header-one{ style: "color: #{@portfolio_header.header_one_color}" }
      = @portfolio_header.header_one
    .preview-header-two{ style: "color: #{@portfolio_header.header_two_color}" }
      = @portfolio_header.header_two
