.show-main
  .add-application-button
    = link_to new_user_job_application_path(current_user) do
      .add-application-icon{ 'data-placement' => 'right', title: 'Add New Application' }
        Add New
  .job-application-container
    .filter-search-box
      = form_for_filterrific @filterrific, remote: true do |f|
        .search-filter
          Search
          %br
          = f.text_field :search_query,
                         class: 'filterrific-periodically-observed job-application-search'
        .search-filter
          Sorted By
          %br
          = f.select :sorted_by, @filterrific.select_options[:sorted_by]
          = f.select :asc_desc, @filterrific.select_options[:asc_desc]
        .search-filter
          Referral Type
          %br
          = f.select :referral_type, @filterrific.select_options[:referral_type]
        .search-filter
          Application Status
          %br
          = f.select :status, @filterrific.select_options[:status]
        .search-filter
          Enthusiasm
          %br
          = f.select :enthusiasm, @filterrific.select_options[:enthusiasm]
        .reset-filter
          = link_to 'Reset Filters', reset_filterrific_url, type: 'button', class: 'reset-button'
          = render_filterrific_spinner
    #application-list-table
      = render partial: 'applications_list', locals: { job_applications: @job_applications }
