!!!
%html
  %head
    %title MyDevPortalDashboard
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto' }

  %body
    .alert.alert-warning
      = alert
    = yield
