!!!
%html
  %head
    %title MyDevPortalDashboard
    = stylesheet_link_tag 'application-dashboard', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'dashboard', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto' }

  %body
    .dashboard-container
      .top-nav
        .logo
        .links
          = link_to 'Account Settings', edit_user_registration_path, class: 'account-settings'
          = link_to 'Log Out', destroy_user_session_path, method: :delete
      .bottom-nav
        .home-link
          = link_to user_dashboard_index_path(current_user) do
            .nav-item{ class: @dashboard == 'home' ? 'active' : '', 'data-placement' => 'right',
                       title: 'Your dashboard home page (under construction)' }
              Home
        .dashboard-links
          %small Manage Your...
          = link_to edit_portfolio_path(@portfolio) do
            .nav-item{ class: @dashboard == 'portfolios' ? 'active' : '', 'data-placement' => 'right',
                     title: 'Build and customise your portfolios' }
              Portfolios
          = link_to user_job_applications_path(current_user) do
            .nav-item{ class: @dashboard == 'job_applications' ? 'active' : '', 'data-placement' => 'right',
                       title: 'Manage your job applications' }
              Job Applications
          = link_to user_dashboard_index_path(current_user) do
            .nav-item{ 'data-placement' => 'right',
                       title: 'Your dashboard home page (under construction)' }
              Dev Blog
      - if @dashboard == 'portfolios'
        .portfolios-nav
          = link_to edit_portfolio_path(@portfolio) do
            .portfolio-nav-item{ class: controller_name == 'portfolios' ? 'active-portfolio-menue' : '', 'data-placement' => 'right',
                     title: 'Customize your portfolio settings' }
              Settings
          = link_to portfolio_abouts_path(@portfolio) do
            .portfolio-nav-item{ class: controller_name == 'abouts' ? 'active-portfolio-menue' : '', 'data-placement' => 'right',
                       title: 'Manage your job applications' }
              About Me
          = link_to portfolio_projects_path(@portfolio) do
            .portfolio-nav-item{ class: controller_name == 'projects' ? 'active-portfolio-menue' : '', 'data-placement' => 'right',
                       title: 'Add projects to be displayed on your portfolio' }
              Projects
          = link_to portfolio_technologies_path(@portfolio) do
            .portfolio-nav-item{ class: controller_name == 'technologies' ? 'active-portfolio-menue' : '', 'data-placement' => 'right',
                       title: 'Add skills and known technologies to be displayed on your portfolio' }
              Skills
          = link_to portfolio_technologies_path(@portfolio) do
            .portfolio-nav-item{ 'data-placement' => 'right',
                       title: 'Add skills and known technologies to be displayed on your portfolio' }
              Preview
      .main-content
        = yield
