!!!
%html
  %head
    %title MyDevPortalDashboard
    = stylesheet_link_tag 'application-dashboard', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'dashboard', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto' }

  %body
    .dashboard-container
      .top-nav
        .logo
        .links
          = link_to 'Account Settings', edit_user_registration_path, class: 'account-settings'
          = link_to 'Log Out', destroy_user_session_path, method: :delete
      .bottom-nav
        .home-link
          .nav-item{ class: controller_name == 'dashboard' ? 'active' : '', 'data-placement' => 'right',
                     title: 'Your dashboard home page (under construction)' }
            = link_to 'Home', user_dashboard_index_path(current_user)
        .dashboard-links
          %small Manage Your...
          .nav-item{ class: controller_name == 'portfolios' ? 'active' : '', 'data-placement' => 'right',
                     title: 'Customize your portfolio settings' }
            = link_to 'Portfolios', edit_portfolio_path(@portfolio)
          .nav-item{ class: controller_name == 'job_applications' ? 'active' : '', 'data-placement' => 'right',
                     title: 'Manage your job applications' }
            = link_to 'Job Applications', user_job_applications_path(current_user)
          .nav-item{ class: controller_name == 'dashboard' ? 'active' : '', 'data-placement' => 'right',
                     title: 'Your dashboard home page (under construction)' }
            = link_to 'Dev Blog', user_dashboard_index_path(current_user)
      .main-content
        = yield
